<mat-form-field>
  <mat-label>Time</mat-label>
  <input matInput [(ngModel)]="time">
</mat-form-field>

<mat-form-field>
  <mat-label>Temperature</mat-label>
  <input matInput [(ngModel)]="temperature">
</mat-form-field>


<mat-form-field>
  <mat-label>Humidity</mat-label>
  <input matInput [(ngModel)]="humidity">
</mat-form-field>

<div class="action-panel">
  <button mat-raised-button color="primary" (click)="search()">Search</button>
  <button mat-raised-button color="primary" (click)="clear()">Clear</button>
</div>
